<%= form_for(property_type) do |property_type_form| %>
   <% if property_type.errors.any? %>
      <div id="error_explanation">
        <div><%= pluralize(property_type.errors.count, "error") %> prohibited this property_type from being saved:</div>

        <ul>
        <% property_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= label_tag(:name, "Name") %>
    <%= property_type_form.text_field :name, :placeholder => "Bunglow" %>
    
      
    <% if access_projects_edit %>
     <button class="btn cyan waves-effect waves-light" type="submit" name="action">Submit</button>
    <% end %>
<% end %>