<p id="notice"><%= notice %></p>

<h1>Listing Flat Stage Sub Stages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flat_stage_sub_stages.each do |flat_stage_sub_stage| %>
      <tr>
        <td><%= link_to 'Show', flat_stage_sub_stage %></td>
        <td><%= link_to 'Edit', edit_flat_stage_sub_stage_path(flat_stage_sub_stage) %></td>
        <td><%= link_to 'Destroy', flat_stage_sub_stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub stage', new_flat_stage_sub_stage_path %>
