<div class="card-panel content-wrapper">
    <div class="content-header" type="button" onClick="handle_content_blocks(this);">
      <h6 class="col mdi-content-add">Project Details</h6>
    </div>
    <div class="content-block">
       <div class="row">
          <div class="col s12">
              <div class="row">
                  <div class="col s9">
                    <%= label_tag(:name, "Name") %>
                    <%= project_form.text_field :name, :placeholder => "DLF" %>
                      
                  </div>
                  <div class="col s3">
                    <%= project_form.check_box :status, :placeholder => "true" %>
                    <%= project_form.label(:status, "Status") %>
                  </div>
              </div>
          </div>
      </div>

      <%= label_tag(:seller_type, "Seller Type") %>
      <%= project_form.text_field :seller_type, :placeholder => "Builder, Sole Seller, Broker, Property Management Firm etc." %>

      <%= label_tag(:description, "Description") %>
      <%= project_form.text_field :description, :placeholder => "Description about the project..." %>

      <%= label_tag(:usp, "USP") %>

      <%= project_form.cktext_area :usp, :placeholder => "USP", cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' } %>

      
      <%= render :partial => 'layouts/partials/location_form', :locals => {:f => project_form }  %>
      <%= label_tag(:address, "Address") %>
      <%= project_form.text_field :address, :placeholder => "Address..." %>

     

      <%= render :partial => 'layouts/partials/map_details_form', :locals => {:f => project_form }  %>

      <div class="row">
          <div class="col s12">
              <div class="row">
                  <div class="col s3">
                    <%= project_form.label(:launch_date, "Launch Date") %>
                    <%= project_form.date_field :launch_date, :placeholder => "Launch Date" %>
                  </div>
                  <div class="col s3">
                    <%= project_form.label(:project_type, "Project Type") %>
                    <%= project_form.select(:project_type, options_for_select(get_types, :selected => project_form.object.project_type), :prompt => 'Select Project Type') %>
                  </div>
                  <div class="col s3">
                    <%= project_form.label(:property_type, "Property Type") %>
                    <%= project_form.select(:property_type, options_for_select(get_property_types, :selected => project_form.object.property_type), :prompt => 'Select Property Type') %>
                  </div>
                  <div class="col s3 relative">
                    <%= project_form.label(:number_of_buildings, "Number of Buildings") %>
                    <%= project_form.number_field :number_of_buildings, :placeholder => "3" %>
                    <div class="create-buildings-form">
                      <i class="mdi-content-send small right blue-text "></i>
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <%#= project_form.label(:approval_type, "Approval Type") %>
      <%#= project_form.select(:approval_type, options_for_select(get_approval_types, :selected => project_form.object.approval_type), :prompt => 'Select Approval Type') %>
    </div>
  </div>