<p id="notice"><%= notice %></p>

<h1>Listing Building Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @building_photos.each do |building_photo| %>
      <tr>
        <td><%= link_to 'Show', building_photo %></td>
        <td><%= link_to 'Edit', edit_building_photo_path(building_photo) %></td>
        <td><%= link_to 'Destroy', building_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_building_photo_path %>
