<%= project_form.fields_for :buildings  do |building_form| %>
  <li class="card-panel fields">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s6">
                  <%= building_form.label(:name, "Name") %>
                  <%= building_form.text_field :name, :placeholder => "Building 1" %>
                </div>
                <div class="col s3">
                    <div class="row">
                      <%= building_form.check_box :status, :placeholder => "true" %>
                      <%= building_form.label(:status, "Status") %>
                      
                    </div>
                </div>
                <div class="col s3">
                  <%= building_form.label(:number_of_floors, "Number of Floors") %>
                  <%= building_form.number_field :number_of_floors, :placeholder => "3" %>
                </div>
            </div>
        </div>
    </div>
    
    <br/>
    <h6>Floor</h6>
    <ul>
      <%= render :partial => 'projects/floor_fields', :locals => { :building_form => building_form}  %>
      <%= link_to_add_floors "Add Floors", building_form, :floors %>
    </ul>
    <%= link_to_remove_buildings "-", building_form %>
  </li>
  <br/>
<% end %>