<%= project_form.fields_for :buildings  do |building_form| %>
  <li class="fields">
    <%= render :partial => 'buildings/partials/details', :locals => {:building_form => building_form }  %>
    <% if building_form.object && building_form.object.id.present? %>
      
      <%= render :partial => 'buildings/partials/stages', :locals => {:building_form => building_form }  %>
      <%= render :partial => 'buildings/partials/ammenities', :locals => {:building_form => building_form }  %>
      <%= render :partial => 'buildings/partials/photos', :locals => {:building_form => building_form }  %>
      <%= render :partial => 'buildings/partials/statuses', :locals => {:building_form => building_form }  %>
      
    <% end %>
    <%= render :partial => 'buildings/partials/floors', :locals => {:building_form => building_form }  %>    
    
    <%= link_to_remove_buildings "Remove Building", building_form %>
  </li>
  <br/>
<% end %>