<%= floor_form.fields_for :flats  do |flat_form| %>
  <li class=" card-panel fields">
    <div class="content-wrapper">
      <div class="content-header"><h6 class="col mdi-content-add">Flats</h6></div>
      <div class="content-block">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                      <%= flat_form.label(:name, "Name") %>
                      <%= flat_form.text_field :name, :placeholder => "Flat 1" %>
                    </div>
                    <div class="col s3">
                        <div class="row">
                          <%= flat_form.check_box :status, :placeholder => "true" %>
                          <%= flat_form.label(:status, "Status") %>
                        </div>
                    </div>
                    <div class="col s3">
                      <%= flat_form.label(:possession_date, "Possession Date") %>
                      <%= flat_form.date_field :possession_date, :placeholder => "Select Possession Date" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                      <% if flat_form.object %>
                        <%= flat_form.label(:flat_configuration, "Flat Configuration") %>
                        <%= flat_form.select(:flat_configuration, options_for_select(get_flat_configurations, :selected => flat_form.object.flat_configuration), :prompt => 'Select Flat Configuration') %>
                      <% end %>
                    </div>
                    <div class="col s3">
                        <p>
                          <%= flat_form.label(:saleable_area, "Saleable Area (Sqft)") %>
                          <%= flat_form.text_field :saleable_area, :placeholder => "123" %>
                        </p>
                    </div>
                    <div class="col s3">
                      <p>
                        <%= flat_form.label(:carpet_area, "Carpet Area (Sqft)") %>
                        <%= flat_form.text_field :carpet_area, :placeholder => "123" %>
                      </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <% if flat_form.object && flat_form.object.id.present? %>
      <div class="content-wrapper">
        <div class="content-header">
          <h6 class="col mdi-content-add">Flat Stages</h6>    
        </div>
        <div class="content-block">
          <%= render :partial => 'flats/stage_fields', :locals => {:flat_form => flat_form }  %>
        </div>
      </div>

      <div class="content-wrapper">
        <div class="content-header"><h6 class="col mdi-content-add">Flat Ammenities</h6></div>
        <div class="content-block">
          <%= render :partial => 'projects/ammenity_fields', :locals => {:f => flat_form}  %>
        </div>
      </div>
      

      <div class="content-wrapper">
        <div class="content-header"><h6 class="col mdi-content-add">Flat Photos</h6></div>
        <div class="content-block">
          <%= flat_form.label :photos_files %>
          <%= flat_form.attachment_field :photos_files, multiple: true, direct: true, presigned: true %>
            <% flat_form.object.photos.each do |photo|%>
              <%= attachment_image_tag(photo, :file, :fill, 350, 350) %>
          <% end %>
        </div>
      </div>

    <% end %>

    <%= link_to_remove_flats "Remove Flat", flat_form %>
  </li>
  <br/>
<% end %>