<%= floor_form.fields_for :flats  do |flat_form| %>
  <li class=" card-panel fields">
    <div class="row">
      <div class="col s12">
          <div class="row">
              <div class="col s6">
                <%= flat_form.label(:name, "Name") %>
                <%= flat_form.text_field :name, :placeholder => "Flat 1" %>
              </div>
              <div class="col s3">
                  <div class="row">
                    <%= flat_form.check_box :status, :placeholder => "true" %>
                    <%= flat_form.label(:status, "Status") %>
                  </div>
              </div>
              <div class="col s3">
                <%= flat_form.label(:possession_date, "Possession Date") %>
                <%= flat_form.date_field :possession_date, :placeholder => "Select Possession Date" %>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col s12">
          <div class="row">
              <div class="col s6">
                <% if flat_form.object %>
                  <%= flat_form.label(:flat_configuration, "Flat Configuration") %>
                  <%= flat_form.select(:flat_configuration, options_for_select(get_flat_configurations, :selected => flat_form.object.flat_configuration), :prompt => 'Select Flat Configuration') %>
                <% end %>
              </div>
              <div class="col s3">
                  <p>
                    <%= flat_form.label(:saleable_area, "Saleable Area (Sqft)") %>
                    <%= flat_form.text_field :saleable_area, :placeholder => "123" %>
                  </p>
              </div>
              <div class="col s3">
                <p>
                  <%= flat_form.label(:carpet_area, "Carpet Area (Sqft)") %>
                  <%= flat_form.text_field :carpet_area, :placeholder => "123" %>
                </p>
              </div>
          </div>
      </div>
  </div>
    <%= flat_form.label(:offer, "Offer") %>
    <%= flat_form.text_field :offer, :placeholder => "Offer examples..." %>

    <% if flat_form.object && flat_form.object.id.present? %>
      <%= render :partial => 'flats/partials/stages', :locals => {:flat_form => flat_form }  %>
      <%= render :partial => 'flats/partials/ammenities', :locals => {:flat_form => flat_form }  %>
      <%= render :partial => 'flats/partials/photos', :locals => {:flat_form => flat_form }  %>
      <%= render :partial => 'flats/partials/statuses', :locals => {:flat_form => flat_form }  %>

    <% end %>

    <%= link_to_remove_flats "Remove Flat", flat_form %>
  </li>
  <br/>
<% end %>