<%= building_form.fields_for :floors  do |floor_form| %>
  <li class=" fields">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s6">
                  <%= floor_form.label(:name, "Name") %>
                  <%= floor_form.text_field :name, :placeholder => "Floor 1" %>
                </div>
                <div class="col s3">
                  <p>
                    <%= floor_form.check_box :status, :placeholder => "true" %>
                    <%= floor_form.label(:status, "Status") %>
                  </p>          
                </div>
                <div class="col s3">
                  <%= floor_form.label(:number_of_flats, "Number of Flats") %>
                  <%= floor_form.number_field :number_of_flats, :placeholder => "3" %>
                </div>
            </div>
        </div>
    </div>
    <% if floor_form.object && floor_form.object.id.present? %>
      
      <%= render :partial => 'floors/partials/stages', :locals => {:floor_form => floor_form }  %>
      <%= render :partial => 'floors/partials/ammenities', :locals => {:floor_form => floor_form }  %>
      <%= render :partial => 'floors/partials/photos', :locals => {:floor_form => floor_form }  %>
      <%= render :partial => 'floors/partials/statuses', :locals => {:floor_form => floor_form }  %>
      
      
    <% end %>


    <%= render :partial => 'floors/partials/flats', :locals => {:floor_form => floor_form }  %>    
    
    <%= link_to_remove_floors "Remove Floor", floor_form %>
  </li>
  <br/>
<% end %>