<%= form_for(project) do |project_form| %>
   <% if project.errors.any? %>
      <div id="error_explanation">
        <div><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</div>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= render :partial => 'projects/partials/builder_details', :locals => { :project => project, :project_form => project_form }  %>   

     <%= render :partial => 'projects/partials/details', :locals => { :project => project, :project_form => project_form }  %>

      <%= render :partial => 'projects/partials/buildings', :locals => { :project => project, :project_form => project_form }  %>
    

    <% if project.id.present? %>
      <%= render :partial => 'projects/partials/stages', :locals => { :project => project, :project_form => project_form }  %>    

      <%= render :partial => 'projects/partials/ammenities', :locals => { :project => project, :project_form => project_form }  %>    
      
      <%= render :partial => 'projects/partials/approval_types', :locals => { :project => project, :project_form => project_form }  %>    
      
      <%= render :partial => 'projects/partials/photos', :locals => { :project => project, :project_form => project_form }  %>
      
    <% else %>
      <div>
        <br/>
        <h6 class="col">
          Submit Project to add Stages, Photos, Ammenities and Approval Types
        </h6>
        <br/>
      </div>
      
    <% end %>

    <% if access_projects_edit %>
      <button class="btn cyan waves-effect waves-light" type="submit" name="action">Submit</button>
    <% end %>
    
<% end %>