<h6>Projects</h6>
<p id="notice"><%= notice %></p>

<ul class="collapsible popout bp-popin" data-collapsible="accordion" watch>
    <% if access_projects_edit %>
     <li>
        <div class="collapsible-header <% if @project.errors.any? %>active<% end %>">
            Add a new Project
        </div>
        <div class="collapsible-body">
            <%= render :partial => 'form', :locals => { :project => @project }  %>
        </div>
     </li>
    <% end %>
    <% @projects.each do |project| %>
        <li>
            <div class="collapsible-header header-info <% if project.errors.any? %>active<% end %>">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                        <input type="checkbox" id="referral-project-<%= project.id %>"/>
                            <div class="col s3">
                                <input type="checkbox" id="referral-project-<%= project.id %>"/>
                                <label for="project-<%= project.id %>" type="button" class="checkbox-custom"
                                    onClick="handle_referral_project_checkbox(this, event);"></label>
                            </div>
                            <div class="col s3 ellipsis">
                                <%= project.name %> 
                            </div>
                            <div class="col s3 ellipsis">
                                <h7>Launching on </h7><%= project.launch_date %>
                            </div>
                            <div class="col s3 ellipsis">
                                <%= project.builder.group_name %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="collapsible-body">
                <%= render :partial => 'form', :locals => { :project => project }  %>
            </div>
        </li>
    <% end %>
</ul>
<%= render :partial => 'referral_leads', :locals => { :project => @project }  %>
