<p id="notice"><%= notice %></p>

<h1>Listing Floor Statuses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @floor_statuses.each do |floor_status| %>
      <tr>
        <td><%= link_to 'Show', floor_status %></td>
        <td><%= link_to 'Edit', edit_floor_status_path(floor_status) %></td>
        <td><%= link_to 'Destroy', floor_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status', new_floor_status_path %>
