<form class="roles_form">
    <input type="hidden" value="<%= role.id %>" name="id">
    <label for="name" class="center-align">Role Name</label>
    <input id="name" type="text" placeholder="CEO" name="name" value="<%= role.name %>">

    <h6>Assign Permissions</h6>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s3">
                    Permissions
                </div>
                <div class="col s3">
                    View
                </div>
                <div class="col s3">
                    Edit
                </div>
                <div class="col s3">
                    Delete
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Projects
                </b>
                <div class="col s3">
                    <input type="checkbox" name="0" id="role_<%= role.id %>_0" <% if get_access_control_list_value(0, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_0"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="1" id="role_<%= role.id %>_1" <% if get_access_control_list_value(1, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_1"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="2" id="role_<%= role.id %>_2" <% if get_access_control_list_value(2, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_2"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Builders
                </b>
                <div class="col s3">
                    <input type="checkbox" name="3" id="role_<%= role.id %>_3" <% if get_access_control_list_value(3, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_3"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="4" id="role_<%= role.id %>_4" <% if get_access_control_list_value(4, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_4"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="5" id="role_<%= role.id %>_5" <% if get_access_control_list_value(5, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_5"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Buyers
                </b>
                <div class="col s3">
                    <input type="checkbox" name="6" id="role_<%= role.id %>_6" <% if get_access_control_list_value(6, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_6"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="7" id="role_<%= role.id %>_7" <% if get_access_control_list_value(7, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_7"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="8" id="role_<%= role.id %>_8" <% if get_access_control_list_value(8, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_8"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Managers
                </b>
                <div class="col s3">
                    <input type="checkbox" name="9" id="role_<%= role.id %>_9" <% if get_access_control_list_value(9, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_9"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="10" id="role_<%= role.id %>_10" <% if get_access_control_list_value(10, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_10"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="11" id="role_<%= role.id %>_11" <% if get_access_control_list_value(11, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_11"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Roles
                </b>
                <div class="col s3">
                    <input type="checkbox" name="12" id="role_<%= role.id %>_12" <% if get_access_control_list_value(12, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_12"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="13" id="role_<%= role.id %>_13" <% if get_access_control_list_value(13, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_13"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="14" id="role_<%= role.id %>_14" <% if get_access_control_list_value(14, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_14"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Leads
                </b>
                <div class="col s3">
                    <input type="checkbox" name="15" id="role_<%= role.id %>_15" <% if get_access_control_list_value(15, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_15"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="16" id="role_<%= role.id %>_16" <% if get_access_control_list_value(16, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_16"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="17" id="role_<%= role.id %>_17" <% if get_access_control_list_value(17, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_17"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Taxes
                </b>
                <div class="col s3">
                    <input type="checkbox" name="18" id="role_<%= role.id %>_18" <% if get_access_control_list_value(18, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_18"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="19" id="role_<%= role.id %>_19" <% if get_access_control_list_value(19, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_19"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="20" id="role_<%= role.id %>_20" <% if get_access_control_list_value(20, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_20"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Home Loan Banks
                </b>
                <div class="col s3">
                    <input type="checkbox" name="21" id="role_<%= role.id %>_21" <% if get_access_control_list_value(21, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_21"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="22" id="role_<%= role.id %>_22" <% if get_access_control_list_value(22, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_22"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="23" id="role_<%= role.id %>_23" <% if get_access_control_list_value(23, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_23"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Approval Types
                </b>
                <div class="col s3">
                    <input type="checkbox" name="24" id="role_<%= role.id %>_24" <% if get_access_control_list_value(24, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_24"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="25" id="role_<%= role.id %>_25" <% if get_access_control_list_value(25, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_25"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="26" id="role_<%= role.id %>_26" <% if get_access_control_list_value(26, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_26"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <b class="col s3">
                    Location
                </b>
                <div class="col s3">
                    <input type="checkbox" name="27" id="role_<%= role.id %>_27" <% if get_access_control_list_value(27, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_27"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="28" id="role_<%= role.id %>_28" <% if get_access_control_list_value(28, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_28"></label>
                </div>
                <div class="col s3">
                    <input type="checkbox" name="29" id="role_<%= role.id %>_29" <% if get_access_control_list_value(29, role) %>checked<% end%>>
                    <label for="role_<%= role.id %>_29"></label>
                </div>
            </div>
        </div>
    </div>
    <% if access_roles_edit %>
        <button class="btn cyan waves-effect waves-light" type="submit" name="action">Submit</button>
    <% end %>
</form>