<%= render :partial => 'layouts/partials/location_header' %>
<p id="notice"><%= notice %></p>

<ul class="collapsible popout" data-collapsible="accordion" watch>
    <% if access_locations_edit %>
     <li>
        <div class="collapsible-header <% if @city.errors.any? %>active<% end %>">
            Add a new City
        </div>
        <div class="collapsible-body card-panel">
            <%= render :partial => 'form', :locals => { :city => @city }  %>
        </div>
     </li>
    <% end %>
    <% @cities.each do |city| %>
        <li>
            <div class="collapsible-header header-info <% if city.errors.any? %>active<% end %>">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s2">
                                <%= city.state.country.name %>
                            </div>
                            <div class="col s2">
                                <%= city.state.name %>
                            </div>
                            <div class="col s2">
                                <%= city.name %>
                            </div>
                            <div class="right">
                                <!-- <i class="mdi-action-delete"></i> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="collapsible-body card-panel">
                <%= render :partial => 'form', :locals => { :city => city }  %>
            </div>
        </li>
    <% end %>
</ul>

