
<div id="login-page" class="row">
    <div class="col s12">
        <div class="z-depth-4 card-panel register-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center login-form-text">BluePigeon Admin</p>
                </div>
            </div>
            <p id="notice"><%= notice %></p>
            <%= form_for(@manager, url: { controller: "panel", action: "register_user"}, method: :post) do |user_form| %>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <%= label_tag(:name, "Name") %>
                        <%= user_form.text_field :name, :placeholder => "Enter your name here" %>
                    </div>
                </div>
                 <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        <%= label_tag(:email, "Email") %>
                        <%= user_form.email_field :email, :placeholder => "Enter your Email here" %>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <%= label_tag(:password, "Password") %>
                        <%= user_form.password_field :password, :placeholder => "Enter your password here" %>
                    </div>
                </div>
                 <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-communication-phone prefix"></i>
                        <%= label_tag(:phone, "Phone") %>
                        <%= user_form.telephone_field :phone, :placeholder => "Enter your phone number here" %>
                    </div>
                </div>
                <button class="btn cyan waves-effect waves-light" type="submit" name="action">Register</button>
            <% end %>
            
            
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="/login">Login Now!</a></p>
                </div>
            </div>

        </div>
    </div>
</div>
